     p{font-size: large; color: rgb(1, 176, 182);}

    .apw{
   font-family: sans-serif;
   background-color: pink;
   color: darkgreen;
   font-size: 15px
    }
    .sasp{
      font-family: sans-serif;
      background-color: rgb(122, 255, 140);
      color: rgb(39, 139, 0);
      font-size: 15px
    }
   
    .sor{
      font-family: sans-serif;
      background-color: lightblue;
      color: darkblue;
      font-size: 15px
    }
     .ser{
      font-family: sans-serif;
      background-color: rgb(209, 255, 81);
      color: rgb(40, 43, 0);
      font-size: 15px
    } 
     .recreo{
      font-family: sans-serif;
      background-color: rgb(255, 81, 81);
      color: rgb(94, 0, 0);
      font-size: 15px
    }
     .ipeii{
      font-family: sans-serif;
      background-color: rgb(81, 255, 90);
      color: rgb(0, 94, 16);
      font-size: 15px
    }
     .mme{
      font-family: sans-serif;
      background-color: rgb(148, 81, 255);
      color: rgb(36, 0, 94);
      font-size: 15px
    }
     .opt{
      font-family: sans-serif;
      background-color: rgb(255, 81, 212);
      color: rgb(94, 0, 63);
      font-size: 15px
    }
     .pi{
      font-family: sans-serif;
      background-color: rgb(255, 81, 81);
      color: rgb(94, 0, 0);
      font-size: 15px
    }
    .dasp{
      font-family: sans-serif;
      background-color: rgb(81, 255, 255);
      color: rgb(0, 94, 94);
      font-size: 15px
    }
    .horas{
      font-family: sans-serif;
      background-color: rgb(255, 253, 152);
      color: rgb(0, 0, 0);
      font-size: 15px
    }
