.button {
  cursor: pointer;
  position: relative;
  padding: 15px; /* Igual que los main button */
  font-size: 1.1rem;
  color: #FFFFFF;
  border: 2px solid #2F4858;
  border-radius: 4px;
  background-color: #2F4858;
  font-weight: 600;
  width: 100%; /* Ocupa todo el ancho */
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 15px 0;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Siempre cubre todo el ancho del bot칩n */
  height: 100%; /* Siempre cubre toda la altura del bot칩n */
  border-radius: inherit;
  transform: scale(0);
  z-index: -1;
  background-color: #1F3340; /* Hover m치s oscuro */
  transition: transform 0.6s ease;
  transform-origin: center;
}

.button:hover::before {
  transform: scale(1); /* Siempre cubre todo el bot칩n */
}

.button:hover {
  color: #FFFFFF; /* Texto sigue claro */
  box-shadow: 0 0px 20px rgba(31, 51, 64, 0.4);
  scale: 1.03;
}

.button:active {
  transform: scale(1);
}
