body {
    margin: 0;
    padding: 0;
}
.tamaño-mapa {
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 0;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: grey;
    padding: 10px;
}